

.Container{
   
    width: 100vh;
    background-color: black;
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
}

.horizontal{

    display: flex;


}

.color-orange {
    color: rgb(255, 165, 0); /* RGB value for a cooler orange color */
  }
  


